#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:1000000; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}

#cboxOverlay{
  background: #000;
}
#colorbox{}
#cboxContent{
  margin: 23px 23px 0 0;
  overflow: visible;
}
#cboxError{
  padding: 50px;
  border: 1px solid #ccc;
}
#cboxLoadedContent{
  background: #d5d5d5;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
#cboxLoadingGraphic{
  background: url(/images/colorbox/loading.gif) no-repeat center center;
}
#cboxLoadingOverlay{
  background: #fff;
}
#cboxTitle{
  position: absolute;
  top: -22px;
  left: 0;
  color: #000;
}
#cboxCurrent{
  position: absolute;
  top: -22px;
  right: 205px;
  text-indent: -9999px;
}
#cboxClose{
  text-indent: -9999px;
  width: 46px;
  height: 46px;
  position: absolute;
  top: -13px;
  right: -13px;
  background: url(/images/colorbox/close.png) no-repeat 0 0;
}
