@media (max-width: 755px) {
    * {
        box-sizing: border-box;
    }

    body,
    #hotnews-login,
    #hotnews-login-bottom {
        width: 100%;
        min-width: 100%;
        height: auto;
    }

    .pane-login .login-form-item-email {
        margin-top: 0px;
    }

    .hotnews-login-tab-panes .pane {
        height: auto;
    }

    .hotnews-login-tab-panes .pane-right,
    .hotnews-login-tab-panes .pane-left {
        width: 100%;
        float: none;
        padding: 20px;
        border: none;
    }

    .hotnews-login-tab-panes .pane-left label {
        margin-bottom: 5px;
        font-weight: bold;
        width: 100%;
        text-align: left;
    }

    .hotnews-login-tab-panes .pane-left input[type=text],
    .hotnews-login-tab-panes .pane-left input[type=password] {
        width: 100%!important;
    }

    .login-form-submit {
        margin: auto;
        text-align: center;
    }

    .login-forgot-pass {
        border-left: none!important;
        margin: 0px!important;
        padding: 15px 0px!important;
        display: block!important;
    }
} 