#hotnews-login {
  width: 770px;
  height: 260px;
  /*margin: 14px;*/
  background: #fff;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

#hotnews-login-top {
  height: 100px;
  border-bottom: 1px solid #d5d5d5;
  position: relative;
  background: url(/images/new/logo.gif) no-repeat 17px 50%;
}
#hotnews-login-bottom {
  height: 370px;
  background: #f5f5f5;
  -moz-border-radius: 0 0 15px 15px;
  border-radius: 0 0 15px 15px;
}
#hotnews-login-bottom p {
  line-height: 1.45em;
}
#hotnews-login-bottom a {
  color: #00299c;
}

#hotnews-login-tabs {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: -1px;
  right: 65px;
  list-style: none;
}
#hotnews-login-tabs li {
  margin: 0 0 0 3px;
  padding: 0;
  list-style: none;
  float: left;
}
#hotnews-login-tabs a {
  width: 100px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #e7a901;
  border-bottom-color: #d5d5d5;
  background: #fab700;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
#hotnews-login-tabs a:hover,
#hotnews-login-tabs a.current {
  border: 1px solid #d5d5d5;
  border-bottom-color: #f5f5f5;
  background: url(/images/login/bg-hotnews-login-tabs.png) repeat-x 0 0;
}

.hotnews-login-tab-panes .pane {
  height: 280px;
  padding-top: 5px;
  /*display: none;*/
}

.hotnews-login-tab-panes .pane-left {
  width: 350px;
  padding: 0 30px 10px 30px;
  border-right: 1px solid #d5d5d5;
  float: left;
}
.hotnews-login-tab-panes .pane-right {
  width: 289px;
  padding: 0 35px;
  float: left;
}

.login-form-item {
  margin: 20px 0;
}
.pane-login .login-form-item-email {
  margin-top: 40px;
}
.pane-login .login-form-item-pass {
  margin-bottom: 40px;
}
.login-form-item label {
  width: 60px;
  padding-right: 18px;
  text-align: right;
  display: inline-block;
}
.login-form-item .form-text {
  width: 200px;
  margin: 0;
  border: 1px solid #cacaca;
  padding: 4px 5px;
  background: #fbfbfb;
  vertical-align: middle;
}
.login-form-submit {
  margin-left: 81px;
}
.login-form-submit .form-submit {
  width: 110px;
  border: 1px solid #a29f9f;
  height: 30px;
  line-height: 26px;
  background: url(/images/login/bg-login-button.png) repeat-x 0 0;
  cursor: pointer;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
}
a.login-forgot-pass {
  margin-left: 15px;
  border-left: 1px solid #717171;
  padding-left: 15px;
  display: inline-block;
  font-size: 13px;
}
.login-facebook,
.login-twitter {
  width: 151px;
  display: block;
  margin: 20px auto;
}
.login-facebook {
  margin-top: 30px;
}

/*** Register ***/
.pane-register .pane-left {
  width: 360px;
  padding-left: 20px;
}
.pane-register .login-form-item {
  margin: 10px 0;
}
.pane-register .login-form-item label {
  width: 110px;
  padding-right: 10px;
}
.pane-register .login-form-item .form-text {
  width: 190px;
}
.pane-register .login-form-item {
  margin-top: 0;
}
.pane-register .login-form-item-tc {
  padding-left: 119px;
}
.pane-register .login-form-item-tc label {
  text-align: left;
  width: auto;
}
.pane-register .login-form-submit {
  margin: 20px 0 0 121px;
}
/*** END Register ***/

/*** Newsletter ***/
.login-form-item-ng,
.login-form-item-na {
  padding-left: 79px;
}
.login-form-item-ng label,
.login-form-item-na label {
  text-align: left;
  width: auto;
}
.pane-newsletter .login-form-item-email {
  margin-top: 20px;
}
/*** END Newsletter ***/
